<div class="about">
  about
  <ul class="social-feed">
    <li >
      <a title="instagram" target="_blank" href="https://www.instagram.com/cluda.roblins">
        <img src="/images/instagram-icon.png" alt="">
      </a>
    </li>
  </ul>

</div>
