<div class="about">
  <div class="info">
    <h4>CLAUDIA ROBLES </h4>
    <p>Claudia Robles, diseñadora de vestuario, estilista y directora artistica que reside en la ciudad de Santiago. En los ulitmos 27 años, Claudia ha
      trabajado como diseñadora en distintos proyectos relacionados tanto en el área artística como comercial. A través del vestuario ha trabajado
      formas de expresión particulares que han sido reconocidas dentro del medio artistico nacional e internacional. Actualmente Claudia se
      encuentra desarollando proyectos multidisciplinarios que abarcan tanto las artes visuales , el diseño y el cine.
    </p>
    {{!-- <p class="upper">WWW.CLAUDIAROBLES.COM</p> --}}
    {{!-- <p class="mail upper">VESTIARIA@GMAIL.COM</p> --}}
  </div>
  {{!-- <ul class="social-feed">
    <li >
      <a title="instagram" target="_blank" href="https://www.instagram.com/cluda.roblins">
        <img src="/images/instagram-icon.png" alt="">
      </a>
    </li>
  </ul> --}}

</div>
