{{!< default}}
<div class="home">
  <div class="wrapper">
    <div class="work-gallery" id="mylightbox">
        {{#if works}}
          {{#each works}}
            <div class="work">
              <a title="{{name}}" class="image" href="/works/{{slug}}" style="background-image:url({{cloudinaryUrl heroImage}})">
                	{{!-- <img src="{{cloudinaryUrl heroImage}}" class="img-rounded"> --}}

              </a>
            </div>
            {{/each}}
        {{/if}}
      </div>
      <img src="http://lorempixel.com/590/590/" alt="">
    </div>
  </div>
</div>
