<div class="work">
  <div class="sidebar">
    <h1>{{work.name}}</h1>
    <p>{{work.abstract}}</p>
  </div>
  <div class="content">
    {{#if work.video}}
      {{> video video_url=work.video }}
    {{/if}}

    {{#if work.gallery}}
      {{> gallery photos=work.gallery }}
    {{/if}}

  </div>
</div>
