
<header class="header parent">
  <ul class="header__menu child vertical">
    {{# each links}}
      <li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
        {{#ifeq label "Work"}}
          <a data-featherlight="#mylightbox" href="#">work</a>
        {{/ifeq}}
        {{#ifNoteq label "Work"}}
          <a title="{{label}}" href="{{ href }}">{{ label }}</a>
        {{/ifNoteq}}
      </li>
    {{/each}}
    {{!-- <li class="social-feed">
      <a title="instagram" target="_blank" href="https://www.instagram.com/cluda.roblins">
        <img src="/images/instagram-icon.png" alt="">
      </a>
    </li> --}}
  </ul>
  {{> works works=works}}
</header>
