.about
  .info
    padding 0 1em 1em 1em
    h4,p.upper
      margin-top 0
      // text-transform uppercase
    p.mail
      text-decoration underline
    .bio
      text-align center
      p
        max-width 560px
        margin 0 auto
        text-align justify
        line-height 1.5
        font-family Roboto-Thin
        strong
          color #ff9bf7
          font-family Roboto-Thin
