// home page style
.home
  text-align center
  .wrapper
    margin 0 auto
    position relative
    vertical-align top
    height 560px
    width 560px
    background-color #eaeaea
    max-width 560px
