// VESTIARIA - STYLES
// =========

// Import files to be included in bundle

// libraries
@import 'jeet/index';
@import '../js/featherlight/featherlight.min.css';

// base
@import "base/_variables"
@import "base/_layout"
@import "base/_fonts"
@import "base/_mixings"

// pages
@import "_work"
@import "site/index"
@import "site/work"
