html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
body header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: right;
}
body header .header__menu {
  margin: 0;
  right: 10px;
  list-style-type: none;
}
@include column(1/3);
body header .header__menu li {
  margin: 0 5px;
  display: inline-block;
}
body header .header__menu li:last-child {
  margin-right: 0;
}
body header .header__menu li a {
  transition: color 0.3;
  text-decoration: none;
  text-transform: lowercase;
  color: #000;
}
body header .header__menu li a:hover {
  color: #ff0;
}
body .app__container {
  padding-top: 50px;
  height: 100%;
}
#footer {
  margin-top: 30px;
  border-top: 1px solid gray-lighter;
  padding-top: 30px;
  color: gray-light;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.ttf");
}
* {
  font-family: Roboto;
}
.child {
  display: inherit !important;
}
.child.both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child.horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.child.vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.container {
  color: #f00;
  text-align: right;
}
@include center();
@include column(1/3);
.home .wrapper {
  width: auto;
  max-width: 420px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.home .wrapper::after {
  content: '';
  display: table;
  clear: both;
}
