@import '../js/featherlight/featherlight.min.css';
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
body header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: right;
}
body header .header__menu {
  margin: 0;
  right: 10px;
  list-style-type: none;
  text-align: right;
}
body header .header__menu::after {
  content: '';
  display: table;
  clear: both;
}
body header .header__menu li {
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  float: none;
  display: table-cell;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}
body header .header__menu li::after {
  content: '';
  display: table;
  clear: both;
}
body header .header__menu li a {
  transition: color 0.3;
  text-decoration: none;
  text-transform: lowercase;
  color: #000;
}
body header .header__menu li a:hover {
  color: #ff0;
}
body header .header__menu li.social-feed img,
body header .header__menu li.social-feed a {
  height: 26px;
  width: 26px;
}
body header .header__menu li.social-feed img {
  vertical-align: bottom;
}
body .app__container {
  padding-top: 50px;
  height: calc(100% - 50px);
}
#footer {
  margin-top: 30px;
  border-top: 1px solid gray-lighter;
  padding-top: 30px;
  color: gray-light;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.ttf");
}
* {
  font-family: Roboto;
}
.child {
  display: inherit !important;
}
.child.both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child.horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.child.vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.work::after {
  content: '';
  display: table;
  clear: both;
}
.work .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work .sidebar {
  float: left;
  clear: none;
  text-align: inherit;
  width: 16.666666666666664%;
  margin-left: 0%;
  margin-right: 0%;
}
.work .sidebar::after {
  content: '';
  display: table;
  clear: both;
}
.home .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-gallery {
  display: none;
}
.work-gallery::after {
  content: '';
  display: table;
  clear: both;
}
.work-gallery .work {
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.work-gallery .work::after {
  content: '';
  display: table;
  clear: both;
}
.work-gallery .work .image {
  display: block;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.featherlight-content {
  width: 100%;
  margin-left: 0 !important;
  min-height: 100%;
}
