
@font-face
  font-family Roboto
  font-style normal
  src url(../../fonts/Roboto-Regular.ttf)

@font-face
  font-family Roboto-Bold
  font-style normal
  src url(../../fonts/Roboto-Bold.ttf)

@font-face
  font-family Roboto-Thin
  font-style normal
  src url(../../fonts/Roboto-Thin.ttf)

* {
  font-family Roboto
}
