@font-face {
  font-family: Roboto;
  font-style: normal;
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  font-style: normal;
  src: url("Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  font-style: normal;
  src: url("Roboto-Thin.ttf");
}
* {
  font-family: Roboto;
}
