.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.child {
  display: inherit !important;
}
.child.both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child.horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.child.vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.home {
  text-align: center;
}
.home .wrapper {
  margin: 0 auto;
  position: relative;
  vertical-align: top;
  height: 560px;
  width: 560px;
  background-color: #eaeaea;
  max-width: 560px;
}
.app__contact {
  padding: 0 1em 1em 1em;
}
.app__contact > div {
  margin: 0 0 10px 0;
}
.app__contact a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.app__contact .dash {
  font-style: 20px;
  display: block;
  margin: 1.5em 0;
}
