html {
  height: 100%;
}

body,
.app {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
body .app__header,
.app .app__header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: right;
}
body .app__header .app__header-nav,
.app .app__header .app__header-nav {
  margin: 0;
  right: 10px;
  list-style-type: none;
  text-align: right;
}
body .app__header .app__header-nav::after,
.app .app__header .app__header-nav::after {
  content: '';
  display: table;
  clear: both;
}
body .app__header .app__header-nav .app__header-link,
.app .app__header .app__header-nav .app__header-link {
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  float: none;
  display: table-cell;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}
body .app__header .app__header-nav .app__header-link::after,
.app .app__header .app__header-nav .app__header-link::after {
  content: '';
  display: table;
  clear: both;
}
body .app__header .app__header-nav .app__header-link a,
.app .app__header .app__header-nav .app__header-link a {
  transition: color 0.3;
  text-decoration: none;
  text-transform: lowercase;
  color: #000;
}
body .app__header .app__header-nav .app__header-link a.active,
.app .app__header .app__header-nav .app__header-link a.active,
body .app__header .app__header-nav .app__header-link a:hover,
.app .app__header .app__header-nav .app__header-link a:hover {
  color: #ff9bf7;
}
body .app__header .app__header-nav .app__header-link.social-feed img,
.app .app__header .app__header-nav .app__header-link.social-feed img,
body .app__header .app__header-nav .app__header-link.social-feed a,
.app .app__header .app__header-nav .app__header-link.social-feed a {
  height: 26px;
  width: 26px;
}
body .app__header .app__header-nav .app__header-link.social-feed img,
.app .app__header .app__header-nav .app__header-link.social-feed img {
  vertical-align: bottom;
}
body .app__container,
.app .app__container {
  padding-top: 50px;
  height: calc(100% - 50px);
}
#footer {
  margin-top: 30px;
  border-top: 1px solid gray-lighter;
  padding-top: 30px;
  color: gray-light;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.child {
  display: inherit !important;
}
.child.both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child.horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.child.vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.gallery {
  width: 100%;
  height: 100%;
}
.gallery #imageButton {
  width: 100%;
  height: 100%;
  background-size: contain;
  cursor: pointer;
  transition: background-image 0.3s linear;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery .progress-bar {
  width: 100%;
  height: 5px;
  background: #fff;
  padding: 0;
  display: block;
}
.gallery .progress-bar-fill {
  display: block;
  height: 5px;
  width: 0px;
  background: #eaeaea;
  /*transition: width 250ms ease-in-out;*/
  transition: width 5s linear;
}
.home {
  text-align: center;
}
.home .wrapper {
  margin: 0 auto;
  position: relative;
  vertical-align: top;
  height: 560px;
  width: 560px;
  background-color: #eaeaea;
  max-width: 560px;
}
.app__about .title {
  padding: 1em;
}
.app__about .wrapper {
  width: 560px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: justify;
}
.app__work::after {
  content: '';
  display: table;
  clear: both;
}
.app__work .app__work-display {
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  vertical-align: top;
  height: 560px;
  width: 560px;
  background-color: #eaeaea;
  max-width: 560px;
}
.app__work .app__work-display::after {
  content: '';
  display: table;
  clear: both;
}
.app__work .app__work-display iframe {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app__work .app__work-info {
  box-sizing: border-box;
  position: relative;
  height: 560px;
  padding: 0 2em 1em 1em;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.app__work .app__work-info::after {
  content: '';
  display: table;
  clear: both;
}
.app__work .app__work-info h1 {
  font-size: 16px;
  margin-top: 0;
  padding: 7px;
  font-family: Roboto;
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
}
.app__work .app__work-info p {
  text-align: justify;
  font-family: Roboto-Thin;
}
.app__work .app__work-info .work-text {
  position: absolute;
  bottom: 0;
  left: 1em;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}
.app__work .app__work-info .work-text li {
  font-family: Roboto;
  display: inline-block;
}
.app__work .app__work-info .work-text .work-button {
  font-family: Roboto-Thin;
  text-transform: lowercase;
  margin: 0 5px;
  text-align: center;
  font-style: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.app__work .app__work-info .work-text .work-button.work-button--active {
  color: #ff9bf7;
}
.app__work .app__work-info .work-text .work-button:hover {
  color: #ff9bf7;
}
.app__contact {
  padding: 0 1em 1em 1em;
}
.app__contact > div {
  margin: 0 0 10px 0;
}
.app__contact a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.app__contact .dash {
  font-style: 20px;
  display: block;
  margin: 1.5em 0;
}
