.gallery
	width 100%
	height 100%

	.gallery__img
		display none
		cursor pointer
		border none
		height 560px
		margin 0 auto
		padding 0
		width 100%
		background-color #eaeaea

		.gallery__imgWrapper
			display inline-block
			margin 0 auto

		img
			height 100%

	.gallery__img.gallery__img--current
		display block
