.workGrid
	height 100%
	width 100%

	&:after
		content ''
		display table
		clear both

	&__work
		float left
		clear none
		text-align inherit
		width 25%
		margin-left 0%
		margin-right 0%
		cursor pointer
		transition opacity .3s

		&:hover
			opacity .7

		&:after
			content ''
			display table
			clear both

		.workGrid__workLink
			display

			&:focus img
				box-sizing border-box
				border 3px solid #ff9bf7

		img, .workGrid__workLink
			width 100%

		.imageDiv
			display block
			width 100%
			background-repeat no-repeat
			background-position center
			background-size cover
	@media (max-width: 800px)
		&__work
			width 33.33333%
	@media (max-width: 600px)
		&__work
			width 50%
	@media (max-width: 400px)
		&__work
			width 100%
