.gallery
	width 100%
	height 100%

	.gallery__img
		display none
		cursor pointer
		border none
		height 560px
		margin 0 auto
		padding 0
		img
			height 100%

	.gallery__img.gallery__img--current
		display block

//
// .gallery #imageButton {
//   width: 100%;
//   height: 100%;
//   background-size: contain;
//   cursor: pointer;
//   transition: background-image 0.3s linear;
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .gallery .progress-bar {
//   width: 100%;
//   height: 5px;
//   background: #fff;
//   padding: 0;
//   display: block;
// }
// .gallery .progress-bar-fill {
//   display: block;
//   height: 5px;
//   width: 0px;
//   background: #eaeaea;
//   /*transition: width 250ms ease-in-out;*/
//   transition: width 5s linear;
// }
